.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.label.light-purple {
  background-color: rgba(163, 51, 200, 0.35) !important
}

.ui.label.light-violet {
  background-color: rgba(100, 53, 201, 0.35) !important
}

.ui.label.light-pink {
  background-color: rgba(224, 57, 151, 0.35) !important
}

.ui.label.light-blue {
  background-color: rgba(33, 133, 208, 0.35) !important
}

.ui.label.light-teal {
  background-color: rgba(0, 181, 173, 0.35) !important
}

.ui.label.light-green {
  background-color: rgba(33, 186, 69, 0.35) !important
}

.ui.label.light-red {
  background-color: rgba(219, 40, 40, 0.35) !important
}

.ui.label.light-yellow {
  background-color: rgba(251, 189, 8, 0.35) !important
}



.light-pipeline-purple, .light-purple > .ui.dropdown{
  background-color: rgba(163, 51, 200, 0.06) !important;
  border-color: rgba(163, 51, 200, 0.8) !important
}

.light-pipeline-violet, .light-violet > .ui.dropdown{
  background-color: rgba(100, 53, 201, 0.06) !important;
  border-color: rgba(100, 53, 201, 0.8) !important
}

.light-pipeline-pink, .light-pink > .ui.dropdown{
  background-color: rgba(224, 57, 151, 0.06) !important;
  border-color: rgba(224, 57, 151, 0.8) !important
}

.light-pipeline-blue, .light-blue > .ui.dropdown{
  background-color: rgba(33, 133, 208, 0.06) !important;
  border-color: rgba(33, 133, 208, 0.8) !important
}

.light-pipeline-teal, .light-teal > .ui.dropdown {
  background-color: rgba(0, 181, 173, 0.06) !important;
  border-color: rgba(0, 181, 173, 0.8) !important
}

.light-pipeline-green, .light-green > .ui.dropdown{
  background-color: rgba(33, 186, 69, 0.06) !important;
  border-color: rgba(33, 186, 69, 0.8) !important
}

.light-pipeline-red, .light-red > .ui.dropdown {
  background-color: rgba(219, 40, 40, 0.06) !important;
  border-color: rgba(219, 40, 40, 0.8) !important
}

.light-pipeline-yellow, .light-yellow > .ui.dropdown {
  background-color: rgba(251, 189, 8, 0.06) !important;
  border-color: rgba(251, 189, 8, 0.8) !important
}


.dark-purple {
  background-color: rgba(163, 51, 200, 0.8) !important
}

.dark-violet {
  background-color: rgba(100, 53, 201, 0.8) !important
}

.dark-pink {
  background-color: rgba(224, 57, 151, 0.8) !important
}

.dark-blue {
  background-color: rgba(33, 133, 208, 0.8) !important
}

.dark-teal {
  background-color: rgba(0, 181, 173, 0.8) !important
}

.dark-green {
  background-color: rgba(33, 186, 69, 0.8) !important
}

.dark-red {
  background-color: rgba(219, 40, 40, 0.8) !important
}

.dark-yellow {
  background-color: rgba(251, 189, 8, 0.8) !important
}

.ui.form .field > label {
  color: rgb(100, 100, 100)
}