.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.label.light-purple {
  background-color: rgba(163, 51, 200, 0.35) !important
}

.ui.label.light-violet {
  background-color: rgba(100, 53, 201, 0.35) !important
}

.ui.label.light-pink {
  background-color: rgba(224, 57, 151, 0.35) !important
}

.ui.label.light-blue {
  background-color: rgba(33, 133, 208, 0.35) !important
}

.ui.label.light-teal {
  background-color: rgba(0, 181, 173, 0.35) !important
}

.ui.label.light-green {
  background-color: rgba(33, 186, 69, 0.35) !important
}

.ui.label.light-red {
  background-color: rgba(219, 40, 40, 0.35) !important
}

.ui.label.light-yellow {
  background-color: rgba(251, 189, 8, 0.35) !important
}



.light-purple {
  background-color: rgba(163, 51, 200, 0.06) !important
}

.light-violet {
  background-color: rgba(100, 53, 201, 0.06) !important
}

.light-pink {
  background-color: rgba(224, 57, 151, 0.06) !important
}

.light-blue {
  background-color: rgba(33, 133, 208, 0.06) !important
}

.light-teal {
  background-color: rgba(0, 181, 173, 0.06) !important
}

.light-green {
  background-color: rgba(33, 186, 69, 0.06) !important
}

.light-red {
  background-color: rgba(219, 40, 40, 0.06) !important
}

.light-yellow {
  background-color: rgba(251, 189, 8, 0.06) !important
}