.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.label.light-purple, .light-purple {
  background-color: rgba(163, 51, 200, 0.3) !important
}

.ui.label.light-violet, .light-violet {
  background-color: rgba(100, 53, 201, 0.3) !important
}

.ui.label.light-pink, .light-pink {
  background-color: rgba(224, 57, 151, 0.3) !important
}

.ui.label.light-blue, .light-blue {
  background-color: rgba(33, 133, 208, 0.3) !important
}

.ui.label.light-teal, .light-teal {
  background-color: rgba(0, 181, 173, 0.3) !important
}

.ui.label.light-green, .light-green {
  background-color: rgba(33, 186, 69, 0.3) !important
}

.ui.label.light-red, .light-red {
  background-color: rgba(219, 40, 40, 0.3) !important
}

.ui.label.light-yellow, .light-yellow {
  background-color: rgba(251, 189, 8, 0.30) !important
}